@model Coinsways.ViewModels.ContactVM
@{
    ViewBag.title = "Contact::";
    <style>
        .header .h_bottom {
            position: relative;
            color: #fff;
            background: #262626;
            margin-top: 114px;
            min-height: 0px;
        }

        #faqs dt, #faqs dd {
            padding: 0 0 0 50px;
        }

        #faqs dt {
            font-size: 17px;
            color: #9d9d9d;
            cursor: pointer;
            height: 37px;
            line-height: 37px;
            margin: 0 0 15px 25px;
        }

        #faqs dd {
            font-size: 1em;
            margin: 0 0 20px 25px;
        }

        #faqs dt {
            background: url(http://www.designonslaught.com/files/2012/06/expand-icon.png) no-repeat left;
        }

        #faqs .expanded {
            background: url(http://www.designonslaught.com/files/2012/06/expanded-icon.png) no-repeat left;
        }

        .faq {
            margin-top: 20px;
        }

        .gfthg {
            margin-top: 20px;
        }


            .gfthg h2 {
                Color: #01468d;
            }

            .gfthg p {
                Color: #0f9aee;
            }

        .main-login {
            min-height: 450px;
        }
    </style>
}
<div>
    <div id="main-other">
        <div id="sub-other">
            <div class="other-head">
                <h1>CONTACT US</h1>
            </div>
        </div>
    </div>

    <section class="wrapper">
        <div data-parallaxify-range-x="-30" class="parallax ip_parallax_1" style="background-position: -79.5px 0px;"></div>
        <div data-parallaxify-range-x="30" class="parallax ip_parallax_2" style="background-position: -102.5px 0px;"></div>
        <div class="container">


            <div class="support_page">
                <!-- <div class="contact_wrap">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819" style="border:0;margin-left: 20px;margin-top: 19px;width: 63%;height: 237px;"></iframe>

                    <ul class="contact_cont">
                        <li>Schreck Rose Dapello & Adams Demi </li>
                        <li>Lovato Schreck Rose Dapello & Adams </li>
                        <li>9440 Santa Monica Blvd. Suite 400 </li>
                        <li>Beverly Hills, CA 90210 </li>
                    </ul>
                </div> -->
                <h2>Support Form</h2>
                To prevent missing emails from Bitspayu mail server, please check your emails Spam or Junk folder to confirm the message wasn't filtered.
                <div class="separator_1"><span></span></div>
                <div class="sf_wrap">
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="sf_cont">
                        <ul class="clearfix">
                            <li>
                                <div class="message error hidden">Please type your full name!</div>
                                <div class="input_block username">
                                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Your Name" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "message error error_1" })
                                </div>
                            </li>
                            <li>
                                @*<div class="message error error_1 hidden">Please enter your e-mail address!</div>
                                <div class="message error error_2 hidden">That is not a valid e-mail address!</div>*@

                                <div class="input_block email">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your E-mail" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "message error error_1" })
                                </div>
                            </li>
                        </ul>
                        <div class="textarea">
                            <div class="message error hidden">Please type your message!</div>
                            <textarea name="message" placeholder="Your Message"></textarea>
                            @Html.TextAreaFor(m => m.Message, new { @placeholder = "Your Message" })
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "message error error_1" })
                        </div>
                        <div class="submit">
                            <input type="submit" value="Send Message">
                        </div>
                    </div>
                }
                </div>

                <!--
                <h1>1Daily Coin International</h1>
                <div class="separator_2"><span></span></div>
                <div class="oo_cont clearfix">
                    <div class="oo_block clearfix">
                        <div class="o_img" style="background-image: url(img/offices/office_1.jpg);"></div>
                        <ul>
                            <li class="address"><span>Address:</span> 39th Floor. Tower Financial Center, 50th Street and corner of Elvira, Mendez street, Panama City, Panama</li>
                            <li class="phone"><span>Phone:</span>soon</li>
                            <li class="email"><span>Email:</span> panama_office@forexking.biz  <br>  Regional Manager - Alexandr Fisher</li>
                        </ul>
                    </div>
                    <div class="oo_block clearfix">
                        <div class="o_img" style="background-image: url(img/offices/office_2.jpg);"></div>
                        <ul>
                            <li class="address"><span>Address:</span> 45th Floor The Lee Gardens, Hong-Kong, 33 Hysan Avenue, Causeway Bay, Hong-Kong</li>
                            <li class="phone"><span>Phone:</span> soon</li>
                            <li class="email"><span>Email:</span> hong-kong_office@forexking.biz <br>  Regional Manager - Raymond Margulis</li>
                        </ul>
                    </div>
                    <div class="oo_block clearfix">
                        <div class="o_img" style="background-image: url(img/offices/office_3.jpg);"></div>
                        <ul>
                            <li class="address"><span>Address:</span> 29th Floor, 1 Raffles Place, Downtown Core, Singapore, 048616, <br> Singapore <br></li>
                            <li class="phone"><span>Phone:</span> soon</li>
                            <li class="email"><span>Email:</span> singapore_office@forexking.biz <br> Regional Manager - Oskar Pihelgas    </li>
                        </ul>
                    </div>

                    -->
            </div>


        </div>
    </section>
</div>
<script type="text/javascript">
    $("#faqs dd").hide();
    $("#faqs dt").click(function () {
        $(this).next("#faqs dd").slideToggle(500);
        $(this).toggleClass("expanded");
    });
</script>