@model Coinsways.Entities.TransactionDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransactionDetail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "UserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditAmount)
                @Html.ValidationMessageFor(model => model.CreditAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DebitAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DebitAmount)
                @Html.ValidationMessageFor(model => model.DebitAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentDate)
                @Html.ValidationMessageFor(model => model.PaymentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanID, "PlanID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlanID", String.Empty)
                @Html.ValidationMessageFor(model => model.PlanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayModeID, "PayModeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PayModeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PayModeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfTransactionID, "TypeOfTransactionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeOfTransactionID", String.Empty)
                @Html.ValidationMessageFor(model => model.TypeOfTransactionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentReferencialDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentReferencialDetails)
                @Html.ValidationMessageFor(model => model.PaymentReferencialDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherDetails)
                @Html.ValidationMessageFor(model => model.OtherDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionStatusID, "TransactionStatusID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TransactionStatusID", String.Empty)
                @Html.ValidationMessageFor(model => model.TransactionStatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommissionTypeID, "CommissionTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CommissionTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.CommissionTypeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
