@model Coinsways.Entities.TransactionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransactionDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentReferencialDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentReferencialDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComissionType.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComissionType.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDetail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionStatu.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionStatu.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfTransaction.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTransaction.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
