@model IEnumerable<Coinsways.Entities.PaymentMode>

@{
    ViewBag.Title = "Payment Mode::";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Payment Mode Master</h4>
                        <p>
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn-danger", @style = "padding: 5px; border-radius: 4px;" })
                        </p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="display responsive no-wrap" style="width: 100%;" id="pymtModeTbl">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#pymtModeTbl").dataTable({
        responsive: true,
        "bLengthChange": false,
        "pageLength": 10,
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [2] }
        ]

    });
</script>
