@model Coinsways.Entities.HelpDeskQuery
           @using Coinsways.Entities
@{
    ViewBag.Title = "Helpdesk::";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            @using (Html.BeginForm("HelpDesk", "Main", FormMethod.Post, new { role = "form" }))
            {
                @Html.HiddenFor(m => m.UserId);
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Help Desk</h4>
                        </div>

                        <div class="table-centrt">
                            <h2>Help Desk</h2>
                        </div>
                        @if (TempData["message"] != null)
                        {
                            <div class="table-centrt">
                                <p class="text-danger">@TempData["message"].ToString()</p>
                            </div>
                        }
                        
                        <div class="col-md-12 col-lg-12 ">
                            <form method="post">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center ">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-4 fgrtybn"><label>Select any Query</label></div>
                                                <div class="col-md-8 gftybhnl">
                                                    @Html.DropDownListFor(m => m.HelpTypeId, null, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.HelpTypeId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12 fgythlkop">
                                                <div class="col-md-4 fgrtybn"><label>Query</label></div>
                                                <div class="col-md-8 gftybhnl">
                                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @rows = "5", @cols = "20" })
                                                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="col-md-12 fgythlkop">
                                                <div class="col-md-4 fgrtybn"><label>Upload Snap</label></div>
                                                <div class="col-md-8 gftybhnl">
                                                    <input type="file" name="uploadfile" class="inputfile inputfile-1 gyuihnmj" />
                                                </div>
                                            </div>*@
                                            <div class="col-md-12 text-center" style="margin-top:15px;">
                                                <input type="submit" name="btnupload" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Query Type</th>
                                        <th>Query</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(ViewBag.Queries != null)
                                    {
                                        var queryList = ViewBag.Queries as List<HelpDeskQuery>;
                                        foreach(var item in queryList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.HelpType.Name
                                                </td>
                                                <td>
                                                    @item.Message
                                                </td>
                                                <td>
                                                    @item.CreatedDate
                                                </td>
                                                <td>
                                                    @item.IsActive
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
