@model Coinsways.Models.ModifyPasswordViewModel
@{
    ViewBag.Title = "Change password::";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">BitCoin Address</h4>
                    </div>
                    <div class="card-content">
                        <div>
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>New Password</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label fgtybnmi">New Password</label>
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control used" })
                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Confirm Password</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label fgtybnmi">Confirm Password</label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control used" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Current Password</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label fgtybnmi">Current Password</label>
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control used" })
                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })                                        </div>
                                    </div>
                                </div>
                                <input type="submit"  value="Change Password" class="btn btn-primary paper-shadow relative" />
                                <div class="clearfix"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
