@model Coinsways.Entities.PlanDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode.CurrencyCode1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode.CurrencyCode1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
